@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  /* COLORS PALETTE */
  --aqua: #00b3bb;
  --light-aqua: #00e6aa;
  --dark-aqua: #0e9aa1;
  --grey: #e6e6e6;
  --light-grey: #f7f7f7;
  --dark-grey: #757575;
  --white: #ffffff;
  --green: #61b874;
  --yellow: #e6db7b;
  --red: #e67b7b;
  --dark-red: #c46161;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Handles the structure of the webpage*/
body {
  height: 100vh;
  display: grid;
  grid-template-rows: minmax(min-content, 10%) 1fr 2rem;
  grid-template-columns: minmax(max-content, 15%) auto;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
}

#header {
  grid-area: header;
  display: flex;
  align-items: center;
  font-size: 36px;
  gap: 10px;
}

#menu {
  grid-area: menu;
  display: grid;
  grid-template-rows: 2rem max-content max-content;
  gap: 20px;
}
#content {
  grid-area: content;
  overflow: auto;
}
#footer {
  grid-area: footer;
  text-align: center;
}

#header,
#menu,
#content,
#footer {
  padding: 10px;
}

/*Handles the layout of each sub area*/

.menuContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-top: 0.2rem;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#content .toDo {
  display: grid;
  border: solid 2px var(--light-grey);
  grid-template-columns: min-content auto min-content 6rem min-content;
  gap: 5px;
}

/*Handles the style of each task*/

#content .toDo {
  align-items: center;
  padding: 5px;
}

#content .taskDetails {
  border: 2px solid var(--light-grey);
  height: 1em;
}

#content .taskDetails:hover {
  cursor: grab;
}

#content .taskDel {
  height: 1em;
}

#content .taskDel:hover {
  cursor: grab;
}

/*Handles the color for the website*/
#header,
#footer {
  background: linear-gradient(90deg, var(--aqua) 0%, var(--light-aqua) 100%);
  color: var(--white);
}

#menu{
  background-color: var(--light-grey);
}

#content{
  background-color: var(--white);
}